<div class="jumbotron">
  <h3 style="text-align:center;">My Recipes</h3>
  <br/>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createRecipe">Create Recipe</button>
  <br/><br>
  {{#each recipe in model}}
    <h4><a href="/recipes/edit">{{recipe.name}}</a></h4>
    <h4><small>{{recipe.description}}</small></h4>
    <br>
  {{/each}}
</div>

{{!-- Modals --}}

<!-- Create -->
<div class="modal fade" id="createRecipe">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create New Recipe</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="create" class="control-label">Title</label>
            {{input type="text" class="form-control" id="title" valueBinding=newTitle}}
            <br>
            <label for="create" class="control-label">Description</label>
            {{textarea name="" id="ingredients" rows="5" style="width:100%;" valueBinding=newDescription}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-primary" {{action 'createRecipe'}}>Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Show -->
<div class="modal fade" id="success">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Recipe created!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cool!</button>
      </div>
    </div>
  </div>
</div>

